@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background-color: #01162d;
	color: #fff;
}

.alert {
	border-radius: 0.5rem;
}

.info {
	background-color: #d0e1ff;
	color: #094298;
	border: 1px solid #b6d4fe;
}

.success {
	background-color: #d1e7de;
	color: #0f5232;
	border: 1px solid #badbcc;
}

.danger {
	background-color: #f8d7da;
	color: #832029;
	border: 1px solid #f5c2c8;
}

.warning {
	background-color: #fff2cd;
	color: #654d04;
	border: 1px solid #ffecb5;
}

.form {
	transform: translate(-50%, -50%);
	outline: 1px dashed orchid;
	position: absolute;
	top: 50%;
	left: 50%;
}

.form-control {
	outline: 1px solid red;
	padding: 1rem;
	margin: 0.3rem;
}

.form-control:last-child {
	display: flex;
	justify-content: flex-end;
}

input[type='file'] {
	background-color: orange;
}
